
$primary-normal: #2B1603;
$primary-dark: #2B1603;
$primary-light: #2B1603;

$secondary-normal: #0a549d;
$secondary-dark: #1479de;
$secondary-light: #5396e9;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal:#fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$golden-normal: #c5ab6b;
$golden-dark: #c5ab6b;
$golden-light: #c5ab6b;
